* {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
  margin-bottom: -10px;
}

.menu-txt p {
  font-size: 15px;
  font-weight: 300;
}

.button1 {
  border-radius: 30px;
  height: 50px;
  width: 220px;
  margin-bottom: 50px;
  margin-top: 10px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  box-shadow: 0px 5px 10px #bdbbbb;
  position: relative;
  transition: all 300ms;
}
.button1:hover {
  transform: scale(1.15);
}

.header2__home-button {
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: flex-end;
}
.header2__home-button button {
  border: none;
  background: white;
  font-size: 20px;
}

.menu-price a {
  display: none;
}

.header1, .header2 {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 3px #cacaca;
}
.header1 .header__logo, .header2 .header__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 4%;
  padding-top: 5%;
}
.header1 .header__logo img, .header2 .header__logo img {
  width: 44%;
}
@media screen and (min-width: 996px) {
  .header1 .header__logo, .header2 .header__logo {
    width: 70%;
    margin: auto;
  }
}

.header2 {
  box-shadow: none;
  padding-top: 1%;
}
.header2 .header__logo img {
  width: 50%;
  position: relative;
  right: 30px;
}

.header2--menu2 {
  background: white;
  margin-bottom: -110px;
}

.footer {
  background: hsla(0deg, 0%, 17%, 0.95);
  margin-top: -20px;
  height: 200px;
  width: 100%;
}

.footer__logo {
  position: relative;
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-size: 12px;
  left: 25px;
  top: 25px;
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    left: 0px;
  }
}
.footer__logo h2 {
  color: white;
  font-family: "Shrikhand", sans-serif;
}

.footer__links {
  margin-left: 25px;
}
@media screen and (min-width: 768px) {
  .footer__links {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    font-size: 18px;
    margin-left: 0px;
  }
}
.footer__links a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 768px) {
  .footer__links a {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.link1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: -24px;
}
.link1 i {
  width: 35px;
  position: relative;
  top: 20px;
  font-size: 13px;
}
.link1 p {
  margin-left: -10px;
}

.mentions {
  margin-bottom: -5px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: rgb(236, 236, 236);
}
@media screen and (min-width: 996px) {
  .search {
    padding-left: 0px;
  }
}
.search input {
  position: relative;
  left: 15px;
  background-color: rgb(236, 236, 236);
  border: none;
}

.intro {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  text-align: center;
  height: 265px;
}
.intro h2 {
  font-size: 24px;
  margin-bottom: -6px;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 5%;
}
.intro p {
  font-size: 19px;
  font-weight: 300;
}

.fonctionnement {
  background: white;
  height: 440px;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    height: 300px;
  }
}
.fonctionnement h2 {
  margin-left: 25px;
  padding-top: 50px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .fonctionnement h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
  }
}

.fonctionnement__etapes {
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__etapes {
    display: flex;
    justify-content: space-around;
  }
}

.etape {
  display: flex;
  background: rgb(248, 248, 248);
  border-radius: 20px;
  margin-right: 18px;
  height: 75px;
  margin-bottom: 25px;
  align-items: center;
  box-shadow: 0px 5px 10px #e8e4e4;
}
.etape:hover {
  background: #F4ECFD;
}
.etape:hover i {
  color: #9356DC;
}
@media screen and (min-width: 768px) {
  .etape {
    justify-content: center;
    width: 30%;
  }
}
.etape i {
  margin-left: 10px;
  margin-right: 24px;
  font-size: 18px;
  color: grey;
}

.nbr {
  margin-left: -8px;
  margin-right: 15px;
  background: #9356DC;
  height: 24px;
  width: 24px;
  text-align: center;
  font-size: 13px;
  color: white;
  border-radius: 59%;
  margin-bottom: 3px;
  padding-top: 7px;
}
@media screen and (min-width: 996px) {
  .nbr {
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
  }
}

.text {
  font-weight: 500;
}

#restaurants {
  background: rgb(242, 242, 242);
  padding-top: 35px;
  padding-bottom: 50px;
}
#restaurants .title {
  text-align: center;
  margin-left: -200px;
}
@media screen and (min-width: 768px) {
  #restaurants .title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    margin-left: 0px;
  }
}

.resto__cards {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .resto__cards {
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    justify-content: center;
  }
}
@media screen and (min-width: 996px) {
  .resto__cards {
    width: 996px;
  }
}

.resto__card {
  height: 250px;
  width: 335px;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 10px #dedbdb;
}
@media screen and (min-width: 768px) {
  .resto__card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 996px) {
  .resto__card {
    height: 340px;
    width: 460px;
  }
}
.resto__card a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}

.image-resto {
  height: 68%;
  width: 100%;
  position: relative;
}
.image-resto img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.notify-badge {
  position: absolute;
  background: rgb(155, 242, 225);
  height: 30px;
  top: 15px;
  right: 15px;
  width: 80px;
  text-align: center;
  line-height: 2rem;
  font-size: 14px;
  border-radius: 2px;
  color: #268666;
  font-weight: 600;
}

.card-body {
  display: flex;
  justify-content: space-between;
  height: 30%;
  width: 100%;
}
.card-body .card-title {
  margin-left: 14px;
}
@media screen and (min-width: 996px) {
  .card-body .card-title {
    margin-top: 10px;
  }
}
.card-body p {
  margin-top: -15px;
  font-size: 17px;
  font-weight: 300;
}

.card-heart {
  width: 50px;
  position: relative;
  top: 20px;
  font-size: 25px;
}
@media screen and (min-width: 996px) {
  .card-heart {
    margin-top: 10px;
  }
}
.card-heart ::before {
  font-weight: 200;
}

main {
  background: #f2f2f2;
}

.menu-heading {
  width: 100%;
  height: auto;
}
.menu-heading img {
  width: 100%;
  height: auto;
}

.menu-heading__title {
  display: flex;
  justify-content: space-between;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: -40px;
  background: #f2f2f2;
}
.menu-heading__title h1 {
  font-size: 26px;
  padding-top: 20px;
  margin-left: 20px;
  letter-spacing: 1px;
}

.heading-heart {
  display: flex;
  align-items: center;
  margin-right: 35px;
  margin-top: 5px;
}
.heading-heart i {
  font-size: 25px;
}

.menu-title {
  border-bottom: 3px solid #99E2D0;
  width: 42px;
  margin-left: -290px;
  margin-bottom: 15px;
}

.menu__card {
  display: flex;
  background: white;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 10px #dcdcdc;
  justify-content: space-between;
  width: 92%;
  height: 70px;
}

.menu-txt {
  margin-left: 10px;
  margin-top: -5px;
}

.menu-price {
  display: flex;
}
.menu-price p {
  justify-content: center;
  margin-right: 20px;
  margin-top: 41px;
  font-weight: 500;
}

.menu__type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
