/* button restaurants & order */
.button1 {
    border-radius: 30px;
    height: 50px;
    width: 220px;
    margin-bottom: 65px;
    margin-top: 10px;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border: none;
    color: white;
    box-shadow: 0px 5px 10px #bdbbbb;
    position: relative;
    z-index: 1;
    &:hover {
        & .button1__lighter {
            opacity: 1;
        } 
    }
    &__lighter {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 30px;
        opacity: 0;
        background-color: $lighter;
        box-shadow: 0px 7px 20px #bdbbbb;
        z-index: -1;
        transition: opacity 250ms;
    }
    .title-button1{
        font-size: 16px;
    }

}

/* button order menus */
.button1--menus {
    width: 185px;
    margin-top: 22px;
}

.button1--menus2 {
    width: 185px;
    margin-bottom: 80px;
    margin-top: 25px;

}

.order-button {
    display: flex;
    justify-content: center;
    background-color: $color-background;
    height: 200px;
}

/* button home */
.header2__home-button {
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: flex-end;
    button {
        border: none;
        background: white;
        font-size: 20px;
    }
}

