* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 26px;
    padding-top: 20px;
    margin-left: 20px;
    letter-spacing: 1px; 
    @include  media-min("tablet") {
        margin-right: 30px; 
        font-size: 35px;
    }
}

h2 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    @include  media-min("tablet") {
        display: flex;
        justify-content: center;
    }
}

h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include  media-min("tablet") {
        font-size: 16px;
    }
}

h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

h5 {
    font-size: 24px;
    margin-bottom: -6px;
    padding-left: 12%;
    padding-right: 12%;
}

h6{
    font-size: 24px;
    margin-left: 20px;
    padding-top: 50px;
    margin-bottom: 25px;
    @include  media-min("tablet") {
        text-align: center;
        margin-bottom: 50px;
        font-size: 35px;
    }
}
