.intro {
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    text-align: center;
    height: auto;
    h2{
        font-size: 24px;
        margin-bottom: -4px;
        padding-left: 12%;
        padding-right: 12%;
         padding-top: 6%;
    }
    p {
        font-size: 19px;
        font-weight: 300;
    }
}

.fonctionnement {
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 40px;
    h2{
        margin-left: -7px;
        @include  media-min("tablet") {
            text-align: center;
            margin-bottom: 50px;
            font-size: 35px;
        }
    }
    .fonctionnement__etapes {
        @include  media-min("tablet") {
            display: flex;
            justify-content: space-around;
        }
    }
}

.etape {
    display: flex;
    background: rgb(248, 248, 248);
    border-radius: 20px;
    margin-right: 18px;
    height: 75px;
    margin-bottom: 25px;
    align-items: center;
    box-shadow: 0px 5px 10px #e8e4e4;
    &:hover{
        background: #F4ECFD; 
        i{
            color: $color-primary;
        }
    }
    @include  media-min("tablet") {
        justify-content: center;
        width: 30%;
    }
    i {
        margin-left: 10px;
        margin-right: 24px;
        font-size: 18px;
        color: grey;
    }
}

.nbr {
    margin-left: -8px;
    margin-right: 15px;
    background: #9356DC;
    height: 24px;
    width: 24px;
    text-align: center;
    font-size: 13px;
    color: white;
    border-radius: 59%;
    margin-bottom: 3px;
    padding-top: 7px;
    @include  media-min("desktop") {
        height: 30px;
        width: 30px;
        margin-bottom: 15px;
    }
}

.text {
    font-weight: 500;
}

#restaurants {
    background: $color-background;
    padding-top: 35px;
    padding-bottom: 50px;
    .title{
        text-align: center;
        margin-left: -200px;
        @include  media-min("tablet") {
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
            font-size: 35px;
            margin-left: 0px;
        }
    }
}
.resto__cards {
    display: flex;
    flex-direction: column;
    @include  media-min("tablet") {
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
        justify-content: center;
    }
        @include  media-min("desktop") {
            width: 996px;
    }
}

.resto__card {
    height: 250px;
    width: 335px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 10px #dedbdb;
    @include  media-min("tablet") {
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    @include  media-min("desktop") {
        height: 340px;
        width: 460px;

    }
    a {
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: black;
    }
}

.image-resto {
    height: 68%;
    width: 100%;
    position:relative;
   
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }
}

.notify-badge{
    position: absolute;
    background: rgb(155 242 225);
    height: 30px;
    top: 15px;
    right: 15px;
    width: 80px;
    text-align: center;
    line-height: 2rem;
    font-size: 14px;
    border-radius: 2px;
    color: #268666;
    font-weight: 600;
}

.card-body {
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    .card-title {
        margin-left: 14px;
        @include  media-min("desktop") {
            margin-top: 10px; 
        }
    }
    p {
        margin-top: -15px;
        font-size: 17px;
        font-weight: 300;
    }
    
}

.card-heart {
    width: 50px;
    position: relative;
    top: 20px;
    font-size: 25px;
    @include  media-min("desktop") {
        margin-top: 10px; 
    }
    ::before {
        font-weight: 200;
    }
}







