.footer {
    background: hsl(0deg 0% 17% / 95%);
    margin-top: -20px;
    height: 200px;
    width: 100%;
}

.footer__logo {
    position: relative;
    color: white;
    font-family: "Shrikhand", sans-serif;
    font-size: 12px;
    left: 25px;
    top: 25px;
    margin-bottom: 27px;
    h2 {
        color: white;
        font-family: 'Shrikhand', sans-serif;
    }
}

.footer__links {
    margin-left: 25px;
    a {
        text-decoration: none;
        color: white;
    }
}

.link1 {
    display: flex;
    align-items: flex-start;
    margin-bottom: -24px;
    i {
        width: 10%;
        position: relative;
        top: 20px;
        font-size: 13px;
    }
    p {
        margin-left: -10px;
    }
}

.mentions {
    margin-bottom: -5px;

}

