/* search city form */

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: rgb(236 236 236);
  @include media-min("desktop") {
    padding-left: 0px;
  }
  input{
    position: relative;
    left: 15px;
    background-color: rgb(236 236 236);
    border: none;
  }
}