
.header1, .header2 {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 3px #cacaca;
  .header__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 4%;
    padding-top: 5%;
    img {
      width: 44%;   
    }
    @include media-min("desktop") {
      width: 70%;
      margin: auto;
    }
    
  }
}


.header2 {
  box-shadow: none;
  padding-top: 1%;
  .header__logo{
    @include  media-min("tablet") {
      padding-bottom: 2%;
      padding-top: 1%;
    }
  }
  .header__logo img{
    width: 50%;
    position: relative;
    right: 30px;
    @include  media-min("tablet") {
      width: 30%;
    }
  }
}


.header2--menu1 {
  background: white;  
  @include  media-min("tablet") {
    margin-bottom: -15%;
  }
}


.header2--menu2 {
  background: white;  
  margin-bottom: -25%;
  @include  media-min("tablet") {
    margin-bottom: -50%;
  }
}